.bd-example-flex div {
    background-color: rgba(26, 115, 233, 0.26);
    border: 1px solid rgba(26, 115, 233, 0.26);
}


.bd-example-position-utils .position-absolute {
    width: 2rem;
    height: 2rem;
    background-color: #212529;
    border-radius: 0.375rem;
}
.bd-example-position-utils .position-relative {
    height: 200px;
    background-color: #ebedf0;
}